/* Estilos genéricos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    min-width: 320px;
}

.pantallaInicial,
.conversorDivisas,
.tiposDeCambio{
    min-width: 320px;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.pantallaInicial{
    background-image: url("../assets/imagenDeFondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.textoPpal{
    width: 100%;
    height: 20%;
    position: relative;
    z-index: 5;
    top: 35%;
    text-align: center;
    color: rgb(20, 14, 14);
}
.textoPpal h1{
    font-size: 4rem;
}
.textoPpal p{
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
}

.conversorDivisas{
    background-color: #007F85;
}
.conversorTitulo,
.tiposDeCambioTitulo{
    width: 100%;
    height: 15%;
    position: relative;
    z-index: 5;
    text-align: center;
    color: rgb(20, 14, 14);
}
.conversorTitulo h2{
    padding-top: 20px;
    font-size: 2.5rem;
}
.conversorTitulo p{
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
}

.tiposDeCambio{
    background-color: #2EAD8C;
}
.tiposDeCambioTitulo h2{
    font-size: 2.5rem;
}

.informacion{
    min-width: 320px;
    width: 100vw;
    height: 50vh;
    position: relative;
    background-color: #1C5163;
}
.informacionTitulo{
    width: 100%;
    height: 24%;
    position: relative;
    z-index: 5;
    top: 4%;
    text-align: center;
    color: rgb(20, 14, 14);
}
.informacionTitulo h2{
    font-size: 2.2rem;
}

.conversorContainer{
    width: 80%;
    height: 75%;
    margin: 5% auto;
    position: relative;
    border: 2px solid gray;
    box-shadow: gray;
    border-radius: 5px;
    background-color: white;
}
.conversorContainerBotones{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
.conversorContainerBotones button{
    width: 100%;
    font-size: 1.6rem;
    border: 1px solid gray;
    background-color: white;
}
.pestañaConversor{
    border-radius: 5px 0 0 0;
}
.pestañaHistorial{
    border-radius: 0 5px 0 0;
}
.conversorContainerPrincipal{
    width: 90%;
    height: 90%;
    margin: 5% auto;
}
.containerFormulario{
    width: 90%;
    height: 60%;
    margin: 0 auto;
}
.formularioEleccion{
    width: 100%;
    max-width: 300px;
    height: 60px;
    margin: 0 auto;
}
.sup{
    margin-top: 10px;
}
.formularioEleccion label{
    font-size: 1.8rem;
    width: 100%;
    margin-left: 5px;
}
.formularioEleccion input, select{
    width: 100%;
    height: 30px;
}
.formularioBoton{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
}
.buttonRevertir{
    width: 20px;
    height: 20px;
    margin: 5px auto;
    border: none;
    background-image: url(../assets/arrows-couple.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.buttonConvertir{
    width: 120px;
}
