.pantallaInicial{
    background-image: url("../assets/768x450.png");
}

.informacion{
    background-image: url("../assets/768x200.png");
}
.informacionEnlaces{
    width: 28%;
    height: 170px;
    margin: 0 auto;
}

.modal{
    width: 60%;
    margin-top: 10%;
}
.buttonCerrar{
    right: 21%;
}

.primariaTiposDeCambio{
    height: 50px;
}

.tiposDeCambio{
    height: 660px;
}
.tiposDeCambioTitulo{
    height: 50px;
    top: 40px;
}